.emo {
  width: 33px;
  height: 33px;
  display: inline-block;
  padding: 0;
  background: url('chrome-extension://__MSG_@@extension_id__/emojis.png');
  vertical-align: middle;
  zoom:0.7;
}

.eq {
  margin-left: 5px;
  margin-bottom: 4px;
}

.mj1 {
  background-position: 0px 0px;
}

.mj3 {
  background-position: 0px -33px;
}

.mj847 {
  background-position: 0px -66px;
}

.mj2 {
  background-position: 0px -99px;
}

.mj4 {
  background-position: 0px -132px;
}

.mj5 {
  background-position: 0px -165px;
}

.mj6 {
  background-position: 0px -198px;
}

.mj7 {
  background-position: 0px -231px;
}

.mj8 {
  background-position: 0px -264px;
}

.mj850 {
  background-position: 0px -297px;
}

.mj851 {
  background-position: 0px -330px;
}

.mj12 {
  background-position: 0px -363px;
}

.mj13 {
  background-position: 0px -396px;
}

.mj852 {
  background-position: 0px -429px;
}

.mj9 {
  background-position: 0px -462px;
}

.mj11 {
  background-position: 0px -495px;
}

.mj17 {
  background-position: 0px -528px;
}

.mj10 {
  background-position: 0px -561px;
}

.mj14 {
  background-position: 0px -594px;
}

.mj18 {
  background-position: 0px -627px;
}

.mj23 {
  background-position: 0px -660px;
}

.mj24 {
  background-position: 0px -693px;
}

.mj26 {
  background-position: 0px -726px;
}

.mj25 {
  background-position: 0px -759px;
}

.mj31 {
  background-position: 0px -792px;
}

.mj20 {
  background-position: 0px -825px;
}

.mj21 {
  background-position: 0px -858px;
}

.mj777 {
  background-position: 0px -891px;
}

.mj16 {
  background-position: 0px -924px;
}

.mj785 {
  background-position: 0px -957px;
}

.mj786 {
  background-position: 0px -990px;
}

.mj22 {
  background-position: 0px -1023px;
}

.mj28 {
  background-position: 0px -1056px;
}

.mj29 {
  background-position: 0px -1089px;
}

.mj30 {
  background-position: 0px -1122px;
}

.mj784 {
  background-position: 0px -1155px;
}

.mj19 {
  background-position: 0px -1188px;
}

.mj778 {
  background-position: 0px -1221px;
}

.mj781 {
  background-position: 0px -1254px;
}

.mj32 {
  background-position: 0px -1287px;
}

.mj782 {
  background-position: 0px -1320px;
}

.mj859 {
  background-position: 0px -1353px;
}

.mj787 {
  background-position: 0px -1386px;
}

.mj27 {
  background-position: 0px -1419px;
}

.mj853 {
  background-position: 0px -1452px;
}

.mj854 {
  background-position: 0px -1485px;
}

.mj855 {
  background-position: 0px -1518px;
}

.mj780 {
  background-position: 0px -1551px;
}

.mj33 {
  background-position: 0px -1584px;
}

.mj857 {
  background-position: 0px -1617px;
}

.mj856 {
  background-position: 0px -1650px;
}

.mj783 {
  background-position: 0px -1683px;
}

.mj849 {
  background-position: 0px -1716px;
}

.mj858 {
  background-position: 0px -1749px;
}

.mj788 {
  background-position: 0px -1782px;
}

.mj779 {
  background-position: 0px -1815px;
}

.mj15 {
  background-position: 0px -1848px;
}

.mj848 {
  background-position: 0px -1881px;
}

.mj96 {
  background-position: 0px -1914px;
}

.mj97 {
  background-position: 0px -1947px;
}

.mj99 {
  background-position: 0px -1980px;
}

.mj98 {
  background-position: 0px -2013px;
}

.mj102 {
  background-position: 0px -2046px;
}

.mj92 {
  background-position: 0px -2079px;
}

.mj88 {
  background-position: 0px -2112px;
}

.mj89 {
  background-position: 0px -2145px;
}

.mj91 {
  background-position: 0px -2178px;
}

.mj90 {
  background-position: 0px -2211px;
}

.mj94 {
  background-position: 0px -2244px;
}

.mj93 {
  background-position: 0px -2277px;
}

.mj95 {
  background-position: 0px -2310px;
}

.mj100 {
  background-position: 0px -2343px;
}

.mj101 {
  background-position: 0px -2376px;
}

.mj791 {
  background-position: 0px -2409px;
}

.mj789 {
  background-position: 0px -2442px;
}

.mj792 {
  background-position: 0px -2475px;
}

.mj795 {
  background-position: 0px -2508px;
}

.mj794 {
  background-position: 0px -2541px;
}

.mj798 {
  background-position: 0px -2574px;
}

.mj797 {
  background-position: 0px -2607px;
}

.mj790 {
  background-position: 0px -2640px;
}

.mj796 {
  background-position: 0px -2673px;
}

.mj650 {
  background-position: 0px -2706px;
}

.mj651 {
  background-position: 0px -2739px;
}

.mj799 {
  background-position: 0px -2772px;
}

.mj800 {
  background-position: 0px -2805px;
}

.mj801 {
  background-position: 0px -2838px;
}

.mj103 {
  background-position: 0px -2871px;
}

.mj34 {
  background-position: 0px -2904px;
}

.mj55 {
  background-position: 0px -2937px;
}

.mj54 {
  background-position: 0px -2970px;
}

.mj44 {
  background-position: 0px -3003px;
}

.mj45 {
  background-position: 0px -3036px;
}

.mj659 {
  background-position: 0px -3069px;
}

.mj657 {
  background-position: 0px -3102px;
}

.mj46 {
  background-position: 0px -3135px;
}

.mj51 {
  background-position: 0px -3168px;
}

.mj658 {
  background-position: 0px -3201px;
}

.mj49 {
  background-position: 0px -3234px;
}

.mj50 {
  background-position: 0px -3267px;
}

.mj107 {
  background-position: 0px -3300px;
}

.mj108 {
  background-position: 0px -3333px;
}

.mj109 {
  background-position: 0px -3366px;
}

.mj637 {
  background-position: 0px -3399px;
}

.mj106 {
  background-position: 0px -3432px;
}

.mj56 {
  background-position: 0px -3465px;
}

.mj57 {
  background-position: 0px -3498px;
}

.mj58 {
  background-position: 0px -3531px;
}

.mj59 {
  background-position: 0px -3564px;
}

.mj60 {
  background-position: 0px -3597px;
}

.mj61 {
  background-position: 0px -3630px;
}

.mj62 {
  background-position: 0px -3663px;
}

.mj63 {
  background-position: 0px -3696px;
}

.mj64 {
  background-position: 0px -3729px;
}

.mj65 {
  background-position: 0px -3762px;
}

.mj66 {
  background-position: 0px -3795px;
}

.mj67 {
  background-position: 0px -3828px;
}

.mj68 {
  background-position: 0px -3861px;
}

.mj69 {
  background-position: 0px -3894px;
}

.mj70 {
  background-position: 0px -3927px;
}

.mj71 {
  background-position: 0px -3960px;
}

.mj72 {
  background-position: 0px -3993px;
}

.mj73 {
  background-position: 0px -4026px;
}

.mj74 {
  background-position: 0px -4059px;
}

.mj75 {
  background-position: 0px -4092px;
}

.mj77 {
  background-position: 0px -4125px;
}

.mj76 {
  background-position: 0px -4158px;
}

.mj646 {
  background-position: 0px -4191px;
}

.mj647 {
  background-position: 0px -4224px;
}

.mj648 {
  background-position: 0px -4257px;
}

.mj83 {
  background-position: 0px -4290px;
}

.mj84 {
  background-position: 0px -4323px;
}

.mj78 {
  background-position: 0px -4356px;
}

.mj79 {
  background-position: 0px -4389px;
}

.mj80 {
  background-position: 0px -4422px;
}

.mj81 {
  background-position: 0px -4455px;
}

.mj802 {
  background-position: 0px -4488px;
}

.mj85 {
  background-position: 0px -4521px;
}

.mj86 {
  background-position: 0px -4554px;
}

.mj87 {
  background-position: 0px -4587px;
}

.mj649 {
  background-position: 0px -4620px;
}

.mj804 {
  background-position: 0px -4653px;
}

.mj803 {
  background-position: 0px -4686px;
}

.mj82 {
  background-position: 0px -4719px;
}

.mj257 {
  background-position: 0px -4752px;
}

.mj258 {
  background-position: 0px -4785px;
}

.mj259 {
  background-position: 0px -4818px;
}

.mj247 {
  background-position: 0px -4851px;
}

.mj643 {
  background-position: 0px -4884px;
}

.mj248 {
  background-position: 0px -4917px;
}

.mj249 {
  background-position: 0px -4950px;
}

.mj250 {
  background-position: 0px -4983px;
}

.mj251 {
  background-position: 0px -5016px;
}

.mj252 {
  background-position: 0px -5049px;
}

.mj640 {
  background-position: 0px -5082px;
}

.mj253 {
  background-position: 0px -5115px;
}

.mj599 {
  background-position: 0px -5148px;
}

.mj639 {
  background-position: 0px -5181px;
}

.mj254 {
  background-position: 0px -5214px;
}

.mj255 {
  background-position: 0px -5247px;
}

.mj261 {
  background-position: 0px -5280px;
}

.mj262 {
  background-position: 0px -5313px;
}

.mj642 {
  background-position: 0px -5346px;
}

.mj641 {
  background-position: 0px -5379px;
}

.mj638 {
  background-position: 0px -5412px;
}

.mj256 {
  background-position: 0px -5445px;
}

.mj260 {
  background-position: 0px -5478px;
}

.mj263 {
  background-position: 0px -5511px;
}

.mj35 {
  background-position: 0px -5544px;
}

.mj36 {
  background-position: 0px -5577px;
}

.mj37 {
  background-position: 0px -5610px;
}

.mj39 {
  background-position: 0px -5643px;
}

.mj40 {
  background-position: 0px -5676px;
}

.mj41 {
  background-position: 0px -5709px;
}

.mj38 {
  background-position: 0px -5742px;
}

.mj42 {
  background-position: 0px -5775px;
}

.mj654 {
  background-position: 0px -5808px;
}

.mj653 {
  background-position: 0px -5841px;
}

.mj655 {
  background-position: 0px -5874px;
}

.mj43 {
  background-position: 0px -5907px;
}

.mj652 {
  background-position: 0px -5940px;
}

.mj105 {
  background-position: 0px -5973px;
}

.mj264 {
  background-position: 0px -6006px;
}

.mj265 {
  background-position: 0px -6039px;
}

.mj644 {
  background-position: 0px -6072px;
}

.mj645 {
  background-position: 0px -6105px;
}

.mj660 {
  background-position: 0px -6138px;
}

.mj104 {
  background-position: 0px -6171px;
}

.mj661 {
  background-position: 0px -6204px;
}

.mj119 {
  background-position: 0px -6237px;
}

.mj123 {
  background-position: 0px -6270px;
}

.mj118 {
  background-position: 0px -6303px;
}

.mj120 {
  background-position: 0px -6336px;
}

.mj121 {
  background-position: 0px -6369px;
}

.mj122 {
  background-position: 0px -6402px;
}

.mj124 {
  background-position: 0px -6435px;
}

.mj125 {
  background-position: 0px -6468px;
}

.mj126 {
  background-position: 0px -6501px;
}

.mj127 {
  background-position: 0px -6534px;
}

.mj128 {
  background-position: 0px -6567px;
}

.mj635 {
  background-position: 0px -6600px;
}

.mj129 {
  background-position: 0px -6633px;
}

.mj130 {
  background-position: 0px -6666px;
}

.mj131 {
  background-position: 0px -6699px;
}

.mj132 {
  background-position: 0px -6732px;
}

.mj133 {
  background-position: 0px -6765px;
}

.mj136 {
  background-position: 0px -6798px;
}

.mj137 {
  background-position: 0px -6831px;
}

.mj634 {
  background-position: 0px -6864px;
}

.mj142 {
  background-position: 0px -6897px;
}

.mj139 {
  background-position: 0px -6930px;
}

.mj140 {
  background-position: 0px -6963px;
}

.mj630 {
  background-position: 0px -6996px;
}

.mj629 {
  background-position: 0px -7029px;
}

.mj141 {
  background-position: 0px -7062px;
}

.mj138 {
  background-position: 0px -7095px;
}

.mj628 {
  background-position: 0px -7128px;
}

.mj143 {
  background-position: 0px -7161px;
}

.mj625 {
  background-position: 0px -7194px;
}

.mj624 {
  background-position: 0px -7227px;
}

.mj626 {
  background-position: 0px -7260px;
}

.mj618 {
  background-position: 0px -7293px;
}

.mj144 {
  background-position: 0px -7326px;
}

.mj162 {
  background-position: 0px -7359px;
}

.mj145 {
  background-position: 0px -7392px;
}

.mj146 {
  background-position: 0px -7425px;
}

.mj148 {
  background-position: 0px -7458px;
}

.mj147 {
  background-position: 0px -7491px;
}

.mj617 {
  background-position: 0px -7524px;
}

.mj610 {
  background-position: 0px -7557px;
}

.mj619 {
  background-position: 0px -7590px;
}

.mj606 {
  background-position: 0px -7623px;
}

.mj609 {
  background-position: 0px -7656px;
}

.mj611 {
  background-position: 0px -7689px;
}

.mj613 {
  background-position: 0px -7722px;
}

.mj615 {
  background-position: 0px -7755px;
}

.mj134 {
  background-position: 0px -7788px;
}

.mj620 {
  background-position: 0px -7821px;
}

.mj621 {
  background-position: 0px -7854px;
}

.mj622 {
  background-position: 0px -7887px;
}

.mj623 {
  background-position: 0px -7920px;
}

.mj607 {
  background-position: 0px -7953px;
}

.mj608 {
  background-position: 0px -7986px;
}

.mj633 {
  background-position: 0px -8019px;
}

.mj627 {
  background-position: 0px -8052px;
}

.mj616 {
  background-position: 0px -8085px;
}

.mj135 {
  background-position: 0px -8118px;
}

.mj632 {
  background-position: 0px -8151px;
}

.mj612 {
  background-position: 0px -8184px;
}

.mj614 {
  background-position: 0px -8217px;
}

.mj631 {
  background-position: 0px -8250px;
}

.mj636 {
  background-position: 0px -8283px;
}

.mj149 {
  background-position: 0px -8316px;
}

.mj150 {
  background-position: 0px -8349px;
}

.mj151 {
  background-position: 0px -8382px;
}

.mj152 {
  background-position: 0px -8415px;
}

.mj153 {
  background-position: 0px -8448px;
}

.mj154 {
  background-position: 0px -8481px;
}

.mj155 {
  background-position: 0px -8514px;
}

.mj156 {
  background-position: 0px -8547px;
}

.mj157 {
  background-position: 0px -8580px;
}

.mj158 {
  background-position: 0px -8613px;
}

.mj556 {
  background-position: 0px -8646px;
}

.mj161 {
  background-position: 0px -8679px;
}

.mj557 {
  background-position: 0px -8712px;
}

.mj160 {
  background-position: 0px -8745px;
}

.mj159 {
  background-position: 0px -8778px;
}

.mj552 {
  background-position: 0px -8811px;
}

.mj553 {
  background-position: 0px -8844px;
}

.mj550 {
  background-position: 0px -8877px;
}

.mj551 {
  background-position: 0px -8910px;
}

.mj554 {
  background-position: 0px -8943px;
}

.mj533 {
  background-position: 0px -8976px;
}

.mj547 {
  background-position: 0px -9009px;
}

.mj546 {
  background-position: 0px -9042px;
}

.mj543 {
  background-position: 0px -9075px;
}

.mj534 {
  background-position: 0px -9108px;
}

.mj535 {
  background-position: 0px -9141px;
}

.mj536 {
  background-position: 0px -9174px;
}

.mj537 {
  background-position: 0px -9207px;
}

.mj538 {
  background-position: 0px -9240px;
}

.mj539 {
  background-position: 0px -9273px;
}

.mj540 {
  background-position: 0px -9306px;
}

.mj541 {
  background-position: 0px -9339px;
}

.mj545 {
  background-position: 0px -9372px;
}

.mj544 {
  background-position: 0px -9405px;
}

.mj114 {
  background-position: 0px -9438px;
}

.mj530 {
  background-position: 0px -9471px;
}

.mj531 {
  background-position: 0px -9504px;
}

.mj532 {
  background-position: 0px -9537px;
}

.mj528 {
  background-position: 0px -9570px;
}

.mj529 {
  background-position: 0px -9603px;
}

.mj549 {
  background-position: 0px -9636px;
}

.mj548 {
  background-position: 0px -9669px;
}

.mj110 {
  background-position: 0px -9702px;
}

.mj495 {
  background-position: 0px -9735px;
}

.mj112 {
  background-position: 0px -9768px;
}

.mj115 {
  background-position: 0px -9801px;
}

.mj111 {
  background-position: 0px -9834px;
}

.mj503 {
  background-position: 0px -9867px;
}

.mj113 {
  background-position: 0px -9900px;
}

.mj116 {
  background-position: 0px -9933px;
}

.mj525 {
  background-position: 0px -9966px;
}

.mj323 {
  background-position: 0px -9999px;
}

.mj117 {
  background-position: 0px -10032px;
}

.mj163 {
  background-position: 0px -10065px;
}

.mj164 {
  background-position: 0px -10098px;
}

.mj165 {
  background-position: 0px -10131px;
}

.mj166 {
  background-position: 0px -10164px;
}

.mj167 {
  background-position: 0px -10197px;
}

.mj168 {
  background-position: 0px -10230px;
}

.mj169 {
  background-position: 0px -10263px;
}

.mj170 {
  background-position: 0px -10296px;
}

.mj171 {
  background-position: 0px -10329px;
}

.mj172 {
  background-position: 0px -10362px;
}

.mj173 {
  background-position: 0px -10395px;
}

.mj174 {
  background-position: 0px -10428px;
}

.mj175 {
  background-position: 0px -10461px;
}

.mj176 {
  background-position: 0px -10494px;
}

.mj177 {
  background-position: 0px -10527px;
}

.mj587 {
  background-position: 0px -10560px;
}

.mj179 {
  background-position: 0px -10593px;
}

.mj586 {
  background-position: 0px -10626px;
}

.mj180 {
  background-position: 0px -10659px;
}

.mj357 {
  background-position: 0px -10692px;
}

.mj751 {
  background-position: 0px -10725px;
}

.mj184 {
  background-position: 0px -10758px;
}

.mj183 {
  background-position: 0px -10791px;
}

.mj714 {
  background-position: 0px -10824px;
}

.mj191 {
  background-position: 0px -10857px;
}

.mj181 {
  background-position: 0px -10890px;
}

.mj182 {
  background-position: 0px -10923px;
}

.mj190 {
  background-position: 0px -10956px;
}

.mj671 {
  background-position: 0px -10989px;
}

.mj185 {
  background-position: 0px -11022px;
}

.mj187 {
  background-position: 0px -11055px;
}

.mj189 {
  background-position: 0px -11088px;
}

.mj700 {
  background-position: 0px -11121px;
}

.mj701 {
  background-position: 0px -11154px;
}

.mj188 {
  background-position: 0px -11187px;
}

.mj196 {
  background-position: 0px -11220px;
}

.mj186 {
  background-position: 0px -11253px;
}

.mj195 {
  background-position: 0px -11286px;
}

.mj725 {
  background-position: 0px -11319px;
}

.mj724 {
  background-position: 0px -11352px;
}

.mj192 {
  background-position: 0px -11385px;
}

.mj722 {
  background-position: 0px -11418px;
}

.mj178 {
  background-position: 0px -11451px;
}

.mj731 {
  background-position: 0px -11484px;
}

.mj193 {
  background-position: 0px -11517px;
}

.mj194 {
  background-position: 0px -11550px;
}

.mj481 {
  background-position: 0px -11583px;
}

.mj477 {
  background-position: 0px -11616px;
}

.mj480 {
  background-position: 0px -11649px;
}

.mj476 {
  background-position: 0px -11682px;
}

.mj199 {
  background-position: 0px -11715px;
}

.mj200 {
  background-position: 0px -11748px;
}

.mj729 {
  background-position: 0px -11781px;
}

.mj730 {
  background-position: 0px -11814px;
}

.mj201 {
  background-position: 0px -11847px;
}

.mj728 {
  background-position: 0px -11880px;
}

.mj204 {
  background-position: 0px -11913px;
}

.mj745 {
  background-position: 0px -11946px;
}

.mj721 {
  background-position: 0px -11979px;
}

.mj720 {
  background-position: 0px -12012px;
}

.mj727 {
  background-position: 0px -12045px;
}

.mj726 {
  background-position: 0px -12078px;
}

.mj198 {
  background-position: 0px -12111px;
}

.mj841 {
  background-position: 0px -12144px;
}

.mj209 {
  background-position: 0px -12177px;
}

.mj840 {
  background-position: 0px -12210px;
}

.mj210 {
  background-position: 0px -12243px;
}

.mj746 {
  background-position: 0px -12276px;
}

.mj747 {
  background-position: 0px -12309px;
}

.mj203 {
  background-position: 0px -12342px;
}

.mj829 {
  background-position: 0px -12375px;
}

.mj214 {
  background-position: 0px -12408px;
}

.mj215 {
  background-position: 0px -12441px;
}

.mj216 {
  background-position: 0px -12474px;
}

.mj748 {
  background-position: 0px -12507px;
}

.mj217 {
  background-position: 0px -12540px;
}

.mj218 {
  background-position: 0px -12573px;
}

.mj212 {
  background-position: 0px -12606px;
}

.mj666 {
  background-position: 0px -12639px;
}

.mj667 {
  background-position: 0px -12672px;
}

.mj669 {
  background-position: 0px -12705px;
}

.mj668 {
  background-position: 0px -12738px;
}

.mj665 {
  background-position: 0px -12771px;
}

.mj670 {
  background-position: 0px -12804px;
}

.mj205 {
  background-position: 0px -12837px;
}

.mj705 {
  background-position: 0px -12870px;
}

.mj703 {
  background-position: 0px -12903px;
}

.mj702 {
  background-position: 0px -12936px;
}

.mj498 {
  background-position: 0px -12969px;
}

.mj206 {
  background-position: 0px -13002px;
}

.mj706 {
  background-position: 0px -13035px;
}

.mj711 {
  background-position: 0px -13068px;
}

.mj207 {
  background-position: 0px -13101px;
}

.mj708 {
  background-position: 0px -13134px;
}

.mj709 {
  background-position: 0px -13167px;
}

.mj710 {
  background-position: 0px -13200px;
}

.mj208 {
  background-position: 0px -13233px;
}

.mj704 {
  background-position: 0px -13266px;
}

.mj238 {
  background-position: 0px -13299px;
}

.mj675 {
  background-position: 0px -13332px;
}

.mj674 {
  background-position: 0px -13365px;
}

.mj688 {
  background-position: 0px -13398px;
}

.mj681 {
  background-position: 0px -13431px;
}

.mj679 {
  background-position: 0px -13464px;
}

.mj680 {
  background-position: 0px -13497px;
}

.mj699 {
  background-position: 0px -13530px;
}

.mj682 {
  background-position: 0px -13563px;
}

.mj676 {
  background-position: 0px -13596px;
}

.mj677 {
  background-position: 0px -13629px;
}

.mj678 {
  background-position: 0px -13662px;
}

.mj672 {
  background-position: 0px -13695px;
}

.mj673 {
  background-position: 0px -13728px;
}

.mj202 {
  background-position: 0px -13761px;
}

.mj683 {
  background-position: 0px -13794px;
}

.mj685 {
  background-position: 0px -13827px;
}

.mj500 {
  background-position: 0px -13860px;
}

.mj499 {
  background-position: 0px -13893px;
}

.mj686 {
  background-position: 0px -13926px;
}

.mj687 {
  background-position: 0px -13959px;
}

.mj692 {
  background-position: 0px -13992px;
}

.mj694 {
  background-position: 0px -14025px;
}

.mj695 {
  background-position: 0px -14058px;
}

.mj696 {
  background-position: 0px -14091px;
}

.mj690 {
  background-position: 0px -14124px;
}

.mj691 {
  background-position: 0px -14157px;
}

.mj689 {
  background-position: 0px -14190px;
}

.mj697 {
  background-position: 0px -14223px;
}

.mj239 {
  background-position: 0px -14256px;
}

.mj732 {
  background-position: 0px -14289px;
}

.mj698 {
  background-position: 0px -14322px;
}

.mj749 {
  background-position: 0px -14355px;
}

.mj750 {
  background-position: 0px -14388px;
}

.mj712 {
  background-position: 0px -14421px;
}

.mj240 {
  background-position: 0px -14454px;
}

.mj237 {
  background-position: 0px -14487px;
}

.mj241 {
  background-position: 0px -14520px;
}

.mj242 {
  background-position: 0px -14553px;
}

.mj598 {
  background-position: 0px -14586px;
}

.mj53 {
  background-position: 0px -14619px;
}

.mj52 {
  background-position: 0px -14652px;
}

.mj596 {
  background-position: 0px -14685px;
}

.mj597 {
  background-position: 0px -14718px;
}

.mj243 {
  background-position: 0px -14751px;
}

.mj244 {
  background-position: 0px -14784px;
}

.mj245 {
  background-position: 0px -14817px;
}

.mj234 {
  background-position: 0px -14850px;
}

.mj592 {
  background-position: 0px -14883px;
}

.mj517 {
  background-position: 0px -14916px;
}

.mj595 {
  background-position: 0px -14949px;
}

.mj236 {
  background-position: 0px -14982px;
}

.mj593 {
  background-position: 0px -15015px;
}

.mj235 {
  background-position: 0px -15048px;
}

.mj219 {
  background-position: 0px -15081px;
}

.mj220 {
  background-position: 0px -15114px;
}

.mj221 {
  background-position: 0px -15147px;
}

.mj222 {
  background-position: 0px -15180px;
}

.mj223 {
  background-position: 0px -15213px;
}

.mj225 {
  background-position: 0px -15246px;
}

.mj602 {
  background-position: 0px -15279px;
}

.mj594 {
  background-position: 0px -15312px;
}

.mj224 {
  background-position: 0px -15345px;
}

.mj837 {
  background-position: 0px -15378px;
}

.mj836 {
  background-position: 0px -15411px;
}

.mj356 {
  background-position: 0px -15444px;
}

.mj601 {
  background-position: 0px -15477px;
}

.mj233 {
  background-position: 0px -15510px;
}

.mj228 {
  background-position: 0px -15543px;
}

.mj600 {
  background-position: 0px -15576px;
}

.mj226 {
  background-position: 0px -15609px;
}

.mj227 {
  background-position: 0px -15642px;
}

.mj589 {
  background-position: 0px -15675px;
}

.mj266 {
  background-position: 0px -15708px;
}

.mj267 {
  background-position: 0px -15741px;
}

.mj271 {
  background-position: 0px -15774px;
}

.mj585 {
  background-position: 0px -15807px;
}

.mj268 {
  background-position: 0px -15840px;
}

.mj269 {
  background-position: 0px -15873px;
}

.mj270 {
  background-position: 0px -15906px;
}

.mj584 {
  background-position: 0px -15939px;
}

.mj583 {
  background-position: 0px -15972px;
}

.mj272 {
  background-position: 0px -16005px;
}

.mj567 {
  background-position: 0px -16038px;
}

.mj273 {
  background-position: 0px -16071px;
}

.mj274 {
  background-position: 0px -16104px;
}

.mj569 {
  background-position: 0px -16137px;
}

.mj568 {
  background-position: 0px -16170px;
}

.mj275 {
  background-position: 0px -16203px;
}

.mj276 {
  background-position: 0px -16236px;
}

.mj571 {
  background-position: 0px -16269px;
}

.mj277 {
  background-position: 0px -16302px;
}

.mj278 {
  background-position: 0px -16335px;
}

.mj572 {
  background-position: 0px -16368px;
}

.mj279 {
  background-position: 0px -16401px;
}

.mj280 {
  background-position: 0px -16434px;
}

.mj281 {
  background-position: 0px -16467px;
}

.mj282 {
  background-position: 0px -16500px;
}

.mj283 {
  background-position: 0px -16533px;
}

.mj286 {
  background-position: 0px -16566px;
}

.mj287 {
  background-position: 0px -16599px;
}

.mj285 {
  background-position: 0px -16632px;
}

.mj284 {
  background-position: 0px -16665px;
}

.mj575 {
  background-position: 0px -16698px;
}

.mj580 {
  background-position: 0px -16731px;
}

.mj288 {
  background-position: 0px -16764px;
}

.mj574 {
  background-position: 0px -16797px;
}

.mj289 {
  background-position: 0px -16830px;
}

.mj290 {
  background-position: 0px -16863px;
}

.mj291 {
  background-position: 0px -16896px;
}

.mj576 {
  background-position: 0px -16929px;
}

.mj577 {
  background-position: 0px -16962px;
}

.mj578 {
  background-position: 0px -16995px;
}

.mj579 {
  background-position: 0px -17028px;
}

.mj581 {
  background-position: 0px -17061px;
}

.mj292 {
  background-position: 0px -17094px;
}

.mj563 {
  background-position: 0px -17127px;
}

.mj293 {
  background-position: 0px -17160px;
}

.mj560 {
  background-position: 0px -17193px;
}

.mj566 {
  background-position: 0px -17226px;
}

.mj558 {
  background-position: 0px -17259px;
}

.mj294 {
  background-position: 0px -17292px;
}

.mj295 {
  background-position: 0px -17325px;
}

.mj565 {
  background-position: 0px -17358px;
}

.mj559 {
  background-position: 0px -17391px;
}

.mj561 {
  background-position: 0px -17424px;
}

.mj564 {
  background-position: 0px -17457px;
}

.mj562 {
  background-position: 0px -17490px;
}

.mj570 {
  background-position: 0px -17523px;
}

.mj296 {
  background-position: 0px -17556px;
}

.mj297 {
  background-position: 0px -17589px;
}

.mj555 {
  background-position: 0px -17622px;
}

.mj298 {
  background-position: 0px -17655px;
}

.mj603 {
  background-position: 0px -17688px;
}

.mj299 {
  background-position: 0px -17721px;
}

.mj300 {
  background-position: 0px -17754px;
}

.mj301 {
  background-position: 0px -17787px;
}

.mj302 {
  background-position: 0px -17820px;
}

.mj303 {
  background-position: 0px -17853px;
}

.mj304 {
  background-position: 0px -17886px;
}

.mj305 {
  background-position: 0px -17919px;
}

.mj306 {
  background-position: 0px -17952px;
}

.mj307 {
  background-position: 0px -17985px;
}

.mj308 {
  background-position: 0px -18018px;
}

.mj309 {
  background-position: 0px -18051px;
}

.mj604 {
  background-position: 0px -18084px;
}

.mj310 {
  background-position: 0px -18117px;
}

.mj311 {
  background-position: 0px -18150px;
}

.mj313 {
  background-position: 0px -18183px;
}

.mj314 {
  background-position: 0px -18216px;
}

.mj315 {
  background-position: 0px -18249px;
}

.mj316 {
  background-position: 0px -18282px;
}

.mj317 {
  background-position: 0px -18315px;
}

.mj775 {
  background-position: 0px -18348px;
}

.mj318 {
  background-position: 0px -18381px;
}

.mj319 {
  background-position: 0px -18414px;
}

.mj320 {
  background-position: 0px -18447px;
}

.mj321 {
  background-position: 0px -18480px;
}

.mj322 {
  background-position: 0px -18513px;
}

.mj527 {
  background-position: 0px -18546px;
}

.mj588 {
  background-position: 0px -18579px;
}

.mj324 {
  background-position: 0px -18612px;
}

.mj325 {
  background-position: 0px -18645px;
}

.mj326 {
  background-position: 0px -18678px;
}

.mj327 {
  background-position: 0px -18711px;
}

.mj329 {
  background-position: 0px -18744px;
}

.mj328 {
  background-position: 0px -18777px;
}

.mj825 {
  background-position: 0px -18810px;
}

.mj492 {
  background-position: 0px -18843px;
}

.mj331 {
  background-position: 0px -18876px;
}

.mj330 {
  background-position: 0px -18909px;
}

.mj211 {
  background-position: 0px -18942px;
}

.mj805 {
  background-position: 0px -18975px;
}

.mj806 {
  background-position: 0px -19008px;
}

.mj811 {
  background-position: 0px -19041px;
}

.mj342 {
  background-position: 0px -19074px;
}

.mj821 {
  background-position: 0px -19107px;
}

.mj809 {
  background-position: 0px -19140px;
}

.mj343 {
  background-position: 0px -19173px;
}

.mj344 {
  background-position: 0px -19206px;
}

.mj810 {
  background-position: 0px -19239px;
}

.mj421 {
  background-position: 0px -19272px;
}

.mj820 {
  background-position: 0px -19305px;
}

.mj341 {
  background-position: 0px -19338px;
}

.mj807 {
  background-position: 0px -19371px;
}

.mj813 {
  background-position: 0px -19404px;
}

.mj336 {
  background-position: 0px -19437px;
}

.mj812 {
  background-position: 0px -19470px;
}

.mj333 {
  background-position: 0px -19503px;
}

.mj817 {
  background-position: 0px -19536px;
}

.mj334 {
  background-position: 0px -19569px;
}

.mj335 {
  background-position: 0px -19602px;
}

.mj816 {
  background-position: 0px -19635px;
}

.mj818 {
  background-position: 0px -19668px;
}

.mj340 {
  background-position: 0px -19701px;
}

.mj827 {
  background-position: 0px -19734px;
}

.mj337 {
  background-position: 0px -19767px;
}

.mj815 {
  background-position: 0px -19800px;
}

.mj338 {
  background-position: 0px -19833px;
}

.mj339 {
  background-position: 0px -19866px;
}

.mj814 {
  background-position: 0px -19899px;
}

.mj332 {
  background-position: 0px -19932px;
}

.mj824 {
  background-position: 0px -19965px;
}

.mj822 {
  background-position: 0px -19998px;
}

.mj823 {
  background-position: 0px -20031px;
}

.mj819 {
  background-position: 0px -20064px;
}

.mj354 {
  background-position: 0px -20097px;
}

.mj353 {
  background-position: 0px -20130px;
}

.mj345 {
  background-position: 0px -20163px;
}

.mj826 {
  background-position: 0px -20196px;
}

.mj347 {
  background-position: 0px -20229px;
}

.mj348 {
  background-position: 0px -20262px;
}

.mj349 {
  background-position: 0px -20295px;
}

.mj350 {
  background-position: 0px -20328px;
}

.mj346 {
  background-position: 0px -20361px;
}

.mj605 {
  background-position: 0px -20394px;
}

.mj352 {
  background-position: 0px -20427px;
}

.mj355 {
  background-position: 0px -20460px;
}

.mj776 {
  background-position: 0px -20493px;
}

.mj590 {
  background-position: 0px -20526px;
}

.mj591 {
  background-position: 0px -20559px;
}

.mj684 {
  background-position: 0px -20592px;
}

.mj828 {
  background-position: 0px -20625px;
}

.mj358 {
  background-position: 0px -20658px;
}

.mj359 {
  background-position: 0px -20691px;
}

.mj367 {
  background-position: 0px -20724px;
}

.mj360 {
  background-position: 0px -20757px;
}

.mj361 {
  background-position: 0px -20790px;
}

.mj362 {
  background-position: 0px -20823px;
}

.mj363 {
  background-position: 0px -20856px;
}

.mj364 {
  background-position: 0px -20889px;
}

.mj365 {
  background-position: 0px -20922px;
}

.mj366 {
  background-position: 0px -20955px;
}

.mj312 {
  background-position: 0px -20988px;
}

.mj368 {
  background-position: 0px -21021px;
}

.mj369 {
  background-position: 0px -21054px;
}

.mj370 {
  background-position: 0px -21087px;
}

.mj371 {
  background-position: 0px -21120px;
}

.mj369 {
  background-position: 0px -21153px;
}

.mj377 {
  background-position: 0px -21186px;
}

.mj372 {
  background-position: 0px -21219px;
}

.mj373 {
  background-position: 0px -21252px;
}

.mj374 {
  background-position: 0px -21285px;
}

.mj375 {
  background-position: 0px -21318px;
}

.mj376 {
  background-position: 0px -21351px;
}

.mj739 {
  background-position: 0px -21384px;
}

.mj742 {
  background-position: 0px -21417px;
}

.mj382 {
  background-position: 0px -21450px;
}

.mj743 {
  background-position: 0px -21483px;
}

.mj383 {
  background-position: 0px -21516px;
}

.mj384 {
  background-position: 0px -21549px;
}

.mj385 {
  background-position: 0px -21582px;
}

.mj386 {
  background-position: 0px -21615px;
}

.mj740 {
  background-position: 0px -21648px;
}

.mj741 {
  background-position: 0px -21681px;
}

.mj744 {
  background-position: 0px -21714px;
}

.mj387 {
  background-position: 0px -21747px;
}

.mj388 {
  background-position: 0px -21780px;
}

.mj389 {
  background-position: 0px -21813px;
}

.mj390 {
  background-position: 0px -21846px;
}

.mj472 {
  background-position: 0px -21879px;
}

.mj473 {
  background-position: 0px -21912px;
}

.mj719 {
  background-position: 0px -21945px;
}

.mj391 {
  background-position: 0px -21978px;
}

.mj392 {
  background-position: 0px -22011px;
}

.mj761 {
  background-position: 0px -22044px;
}

.mj762 {
  background-position: 0px -22077px;
}

.mj474 {
  background-position: 0px -22110px;
}

.mj475 {
  background-position: 0px -22143px;
}

.mj471 {
  background-position: 0px -22176px;
}

.mj393 {
  background-position: 0px -22209px;
}

.mj394 {
  background-position: 0px -22242px;
}

.mj478 {
  background-position: 0px -22275px;
}

.mj479 {
  background-position: 0px -22308px;
}

.mj513 {
  background-position: 0px -22341px;
}

.mj512 {
  background-position: 0px -22374px;
}

.mj395 {
  background-position: 0px -22407px;
}

.mj715 {
  background-position: 0px -22440px;
}

.mj716 {
  background-position: 0px -22473px;
}

.mj717 {
  background-position: 0px -22506px;
}

.mj396 {
  background-position: 0px -22539px;
}

.mj398 {
  background-position: 0px -22572px;
}

.mj399 {
  background-position: 0px -22605px;
}

.mj519 {
  background-position: 0px -22638px;
}

.mj520 {
  background-position: 0px -22671px;
}

.mj402 {
  background-position: 0px -22704px;
}

.mj400 {
  background-position: 0px -22737px;
}

.mj401 {
  background-position: 0px -22770px;
}

.mj407 {
  background-position: 0px -22803px;
}

.mj404 {
  background-position: 0px -22836px;
}

.mj403 {
  background-position: 0px -22869px;
}

.mj523 {
  background-position: 0px -22902px;
}

.mj522 {
  background-position: 0px -22935px;
}

.mj405 {
  background-position: 0px -22968px;
}

.mj406 {
  background-position: 0px -23001px;
}

.mj408 {
  background-position: 0px -23034px;
}

.mj409 {
  background-position: 0px -23067px;
}

.mj410 {
  background-position: 0px -23100px;
}

.mj414 {
  background-position: 0px -23133px;
}

.mj415 {
  background-position: 0px -23166px;
}

.mj416 {
  background-position: 0px -23199px;
}

.mj417 {
  background-position: 0px -23232px;
}

.mj422 {
  background-position: 0px -23265px;
}

.mj833 {
  background-position: 0px -23298px;
}

.mj831 {
  background-position: 0px -23331px;
}

.mj419 {
  background-position: 0px -23364px;
}

.mj420 {
  background-position: 0px -23397px;
}

.mj418 {
  background-position: 0px -23430px;
}

.mj411 {
  background-position: 0px -23463px;
}

.mj412 {
  background-position: 0px -23496px;
}

.mj413 {
  background-position: 0px -23529px;
}

.mj482 {
  background-position: 0px -23562px;
}

.mj842 {
  background-position: 0px -23595px;
}

.mj844 {
  background-position: 0px -23628px;
}

.mj845 {
  background-position: 0px -23661px;
}

.mj843 {
  background-position: 0px -23694px;
}

.mj524 {
  background-position: 0px -23727px;
}

.mj423 {
  background-position: 0px -23760px;
}

.mj424 {
  background-position: 0px -23793px;
}

.mj518 {
  background-position: 0px -23826px;
}

.mj521 {
  background-position: 0px -23859px;
}

.mj426 {
  background-position: 0px -23892px;
}

.mj830 {
  background-position: 0px -23925px;
}

.mj425 {
  background-position: 0px -23958px;
}

.mj713 {
  background-position: 0px -23991px;
}

.mj832 {
  background-position: 0px -24024px;
}

.mj834 {
  background-position: 0px -24057px;
}

.mj835 {
  background-position: 0px -24090px;
}

.mj838 {
  background-position: 0px -24123px;
}

.mj839 {
  background-position: 0px -24156px;
}

.mj496 {
  background-position: 0px -24189px;
}

.mj427 {
  background-position: 0px -24222px;
}

.mj504 {
  background-position: 0px -24255px;
}

.mj505 {
  background-position: 0px -24288px;
}

.mj497 {
  background-position: 0px -24321px;
}

.mj428 {
  background-position: 0px -24354px;
}

.mj429 {
  background-position: 0px -24387px;
}

.mj430 {
  background-position: 0px -24420px;
}

.mj431 {
  background-position: 0px -24453px;
}

.mj432 {
  background-position: 0px -24486px;
}

.mj449 {
  background-position: 0px -24519px;
}

.mj450 {
  background-position: 0px -24552px;
}

.mj451 {
  background-position: 0px -24585px;
}

.mj452 {
  background-position: 0px -24618px;
}

.mj656 {
  background-position: 0px -24651px;
}

.mj197 {
  background-position: 0px -24684px;
}

.mj490 {
  background-position: 0px -24717px;
}

.mj435 {
  background-position: 0px -24750px;
}

.mj436 {
  background-position: 0px -24783px;
}

.mj437 {
  background-position: 0px -24816px;
}

.mj438 {
  background-position: 0px -24849px;
}

.mj439 {
  background-position: 0px -24882px;
}

.mj440 {
  background-position: 0px -24915px;
}

.mj441 {
  background-position: 0px -24948px;
}

.mj442 {
  background-position: 0px -24981px;
}

.mj443 {
  background-position: 0px -25014px;
}

.mj444 {
  background-position: 0px -25047px;
}

.mj445 {
  background-position: 0px -25080px;
}

.mj446 {
  background-position: 0px -25113px;
}

.mj447 {
  background-position: 0px -25146px;
}

.mj448 {
  background-position: 0px -25179px;
}

.mj351 {
  background-position: 0px -25212px;
}

.mj433 {
  background-position: 0px -25245px;
}

.mj664 {
  background-position: 0px -25278px;
}

.mj434 {
  background-position: 0px -25311px;
}

.mj902 {
  background-position: 0px -25344px;
}

.mj846 {
  background-position: 0px -25377px;
}

.mj470 {
  background-position: 0px -25410px;
}

.mj246 {
  background-position: 0px -25443px;
}

.mj516 {
  background-position: 0px -25476px;
}

.mj397 {
  background-position: 0px -25509px;
}

.mj736 {
  background-position: 0px -25542px;
}

.mj735 {
  background-position: 0px -25575px;
}

.mj737 {
  background-position: 0px -25608px;
}

.mj738 {
  background-position: 0px -25641px;
}

.mj469 {
  background-position: 0px -25674px;
}

.mj468 {
  background-position: 0px -25707px;
}

.mj507 {
  background-position: 0px -25740px;
}

.mj506 {
  background-position: 0px -25773px;
}

.mj47 {
  background-position: 0px -25806px;
}

.mj48 {
  background-position: 0px -25839px;
}

.mj718 {
  background-position: 0px -25872px;
}

.mj456 {
  background-position: 0px -25905px;
}

.mj774 {
  background-position: 0px -25938px;
}

.mj457 {
  background-position: 0px -25971px;
}

.mj763 {
  background-position: 0px -26004px;
}

.mj458 {
  background-position: 0px -26037px;
}

.mj764 {
  background-position: 0px -26070px;
}

.mj459 {
  background-position: 0px -26103px;
}

.mj765 {
  background-position: 0px -26136px;
}

.mj460 {
  background-position: 0px -26169px;
}

.mj766 {
  background-position: 0px -26202px;
}

.mj461 {
  background-position: 0px -26235px;
}

.mj767 {
  background-position: 0px -26268px;
}

.mj462 {
  background-position: 0px -26301px;
}

.mj463 {
  background-position: 0px -26334px;
}

.mj464 {
  background-position: 0px -26367px;
}

.mj465 {
  background-position: 0px -26400px;
}

.mj466 {
  background-position: 0px -26433px;
}

.mj467 {
  background-position: 0px -26466px;
}

.mj768 {
  background-position: 0px -26499px;
}

.mj769 {
  background-position: 0px -26532px;
}

.mj770 {
  background-position: 0px -26565px;
}

.mj771 {
  background-position: 0px -26598px;
}

.mj772 {
  background-position: 0px -26631px;
}

.mj773 {
  background-position: 0px -26664px;
}

.mj502 {
  background-position: 0px -26697px;
}

.mj508 {
  background-position: 0px -26730px;
}

.mj509 {
  background-position: 0px -26763px;
}

.mj510 {
  background-position: 0px -26796px;
}

.mj229 {
  background-position: 0px -26829px;
}

.mj230 {
  background-position: 0px -26862px;
}

.mj231 {
  background-position: 0px -26895px;
}

.mj232 {
  background-position: 0px -26928px;
}

.mj662 {
  background-position: 0px -26961px;
}

.mj663 {
  background-position: 0px -26994px;
}

.mj501 {
  background-position: 0px -27027px;
}

.mj489 {
  background-position: 0px -27060px;
}

.mj734 {
  background-position: 0px -27093px;
}

.mj733 {
  background-position: 0px -27126px;
}

.mj511 {
  background-position: 0px -27159px;
}

.mj213 {
  background-position: 0px -27192px;
}

.mj453 {
  background-position: 0px -27225px;
}

.mj455 {
  background-position: 0px -27258px;
}

.mj486 {
  background-position: 0px -27291px;
}

.mj485 {
  background-position: 0px -27324px;
}

.mj488 {
  background-position: 0px -27357px;
}

.mj487 {
  background-position: 0px -27390px;
}

.mj483 {
  background-position: 0px -27423px;
}

.mj484 {
  background-position: 0px -27456px;
}

.mj759 {
  background-position: 0px -27489px;
}

.mj515 {
  background-position: 0px -27522px;
}

.mj514 {
  background-position: 0px -27555px;
}

.mj494 {
  background-position: 0px -27588px;
}

.mj493 {
  background-position: 0px -27621px;
}

.mj454 {
  background-position: 0px -27654px;
}

.mj754 {
  background-position: 0px -27687px;
}

.mj760 {
  background-position: 0px -27720px;
}

.mj755 {
  background-position: 0px -27753px;
}

.mj756 {
  background-position: 0px -27786px;
}

.mj757 {
  background-position: 0px -27819px;
}

.mj758 {
  background-position: 0px -27852px;
}

.mj900 {
  background-position: 0px -27885px;
}

.mj901 {
  background-position: 0px -27918px;
}

#icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

#icons li {
  display: none;
  width: 100%;
  height: auto;
  text-align: center;
}
#menu_icons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}
#menu_icons li {
  width: 20%;
  text-align: center;
  color: #FFF;
  background: #000;
  display: inline-block;
}
#icon_trigger {
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 20px;
}
